<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <center>
    <h1><b><u>Text analyzer</u></b></h1>

    <form action="/analyzedtext" method="get" target="_blank">

      <div style="margin-left:-450px; margin-bottom: 10px;">
        <label for="ta">
          <b>Enter the text for analysis:</b>
        </label>

      </div>

      <textarea name="textarea" id="ta" cols="30" rows="10" style="width: 627px; height: 108px;"></textarea>
      <br>

      <p style="margin-left:-530px;"><b>Here you can:-</b></p>

      <table width="200px" style="margin-left:-440px;">
        <tr><td>
          <div align="left">
            <input type="checkbox" name="removepunc" id="">Remove punctuations
            <br>
            <input type="checkbox" name="removespace" id="">Remove spaces
            <br>
            <input type="checkbox" name="removeextraspace" id="">Remove extra spaces
            <br>
            <input type="checkbox" name="removeline" id="">Remove new lines
            <br>
            <input type="checkbox" name="removedigit" id="">Remove digits
            <br>
            <input type="checkbox" name="removealpha" id="">Remove alphabets
            <br>
            <input type="checkbox" name="upper" id="">Convert to uppercase
            <br>
            <input type="checkbox" name="lower" id="">Convert to lowercase
            <br>
            <input type="checkbox" name="countchar" id="">Count no. of charaters
          </div>
        </td></tr>
      </table>

      <br>

      <input type="submit" value="Click here to Analyze">
      <input type="reset" value="Reset">


    </form>
    

  </center>
</body>
</html>