<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    Text was Analyzed to:-
  </h1>
  <h3>

     <!---------------------single selection---------------------->
     
    <!--
    {% for purpose in inputpurpose %}
         {{purpose}},
    {% endfor %} 
    -->


    <!---------------------multipule selection-------------------->
    
    <ol>
      {% for purpose in inputpurpose %}
        {% if purpose == 'No utility selected' %}
           {{purpose}}
        {% else %}
          <li>
            {{purpose}}
          </li>
        {% endif %}
      {% endfor %}
    </ol>

  </h3>
  <br>

  <!------------------------analyzed text------------------------>

  <h2>
    Text after analysis:-
  </h2>
  <p>
    <pre style="margin-left: 40px;">{{inputtext}}</pre>
  </p>
</body>
</html>