<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    Text was Analyzed to:-
  </h1>
  <h3>

     <!---------------------single selection---------------------->
     
    <!--
    {% for purpose in inputpurpose %}
         {{purpose}},
    {% endfor %} 
    -->


    <!---------------------multipule selection-------------------->
    
    <ol>
      {% for purpose in inputpurpose %}
        <li>
          {{purpose}}
        </li>
      {% endfor %}
    </ol>

  </h3>
  <br>
  <h2>
    Text after analysis:-
  </h2>
  <p>{{inputtext}}</p>
</body>
</html>